<!-- modal excluir -->
<div class="modal fade" id="excluir-aluno" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir aluno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- modal-body modalBody -->
            <div class="modal-body">
                <form class="row g-3" action="" method="DELETE">
                    <div class="modal-body">
                        <h3>Você está certo disso?</h3>
                        <h4>Essa ação não pode ser desfeita!</h4>
                    </div>

                    <div class="modal-footer">
                        <a type="submit" class="btn btn-primary">Sim</a>
                        <button data-dismiss="modal" class="btn btn-danger">Não</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-body modalBody -->
        </div>
    </div>
</div>
<!-- /.modal cadastrar -