{% extends 'body.ejs' %}

{% block title %} Cadastro de Alunos {% endblock %}

{% block body %}

<!-- container header -->

<div class="container">

    <form action="" method="POST">
        <h5>Editar dados do aluno</h5>
    
        <table class="table table-bordered table-hover">
            <td>Matrícula</td>
            <td><input type="text" class="form-control " name="matricula" value="{{ alunos.matricula }}" required></td>
            </tr>
            <tr>
                <td>Nome do aluno</td>
                <td><input type="text" class="form-control" name="nome" value="{{ alunos.nome }}" required></td>
            </tr>
            <tr>
                <td>Data nascimento</td>
                <td><input type="text" class="form-control " name="data_nascimento" value="{{ alunos.data_nascimento }}"
                        required></td>
            </tr>
            <tr>
                <td>Idade</td>
                <td> <input type="text" class="form-control " name="idade" value="{{ alunos.idade}}" required></td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td> <input type="text" class="form-control " name="sexo" value="{{ alunos.sexo}}" required></td>
            </tr>
            <tr>
                <td> <label class="form-label">CPF</label></td>
                <td><input type="text" class="form-control " name="cpf" value="{{ alunos.cpf}}" required></td>
            </tr>
            <tr>
                <td>AV1</td>
                <td><input type="text" class="form-control" name="av1" value="{{ alunos.av1 }} " required></td>
            </tr>
            <tr>
                <td>AV2</td>
                <td><input type="text" class="form-control" name="av2" value="{{ alunos.av2 }} " required></td>
            </tr>
        </table>
        <input type="submit" class="btn btn-outline-primary"  value="Atualizar cadastro">
    </form>
</div>










<!-- /.container table -->

{% endblock %}