{% extends 'body.ejs' %}

{% block title %} Cadastro de Alunos {% endblock %}

{% block body %}

{% include 'partials/modal-cadastrar-aluno.ejs' %}
{% include 'partials/modal-editar-aluno.ejs' %}
{% include 'partials/modal-excluir-aluno.ejs' %}

<!-- container header -->
<div class="container">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="text-center">
                <h1 href="#">Página de cadastro</h1>
            </div>
        </div>
    </header>
</div>
<!-- /.container header -->
<!-- container table -->
<main class="container">
    {% with alunos = get_flashed_messages() %}
    {% if alunos %}
    {% for aluno in alunos %}

    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>

        {{ aluno }}

    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="row">
            <table class="table table-bordered table-hover crudTable">
                <thead>
                    <tr align="center">
                        <th>ID</th>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>Data de nascimento</th>
                        <th>Idade</th>
                        <th>sexo</th>
                        <th>CPF</th>
                        <th>AV1</th>
                        <th>AV2</th>
                        <th>Média</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr align="center">
                        <td>{{aluno._id}}</td>
                        <td>{{aluno.matricula}}</td>
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.data_nascimento}}</td>
                        <td>{{aluno.idade}}</td>
                        <td>{{aluno.sexo}}</td>
                        <td>{{aluno.cpf}}</td>
                        <td>{{aluno.av1}}</td>
                        <td>{{aluno.av2}}</td>
                        <td>{{ aluno.calcular_media() }}</td>

                        <td>
                            <a href="/atualizar/<int:id>" class="btn btn-outline-warning" data-bs-toggle="modal"
                                data-bs-target="#modal-editar-aluno">
                                Editar
                            </a>
                            <a href="/excluir/{{ aluno._id}}" class="btn btn-outline-danger" data-bs-toggle=""
                                data-bs-target="">
                                Excluir
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- cadastros -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
        data-bs-target="#modal-cadastrar-aluno">
        Cadastrar aluno
    </button>
</main>
<br>
<!-- /.container table -->

<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <a class="nav-item nav-link link-body-emphasis active">DISCIPLINA: DESENVOLVIMENTO RÁPIDO DE APLICAÇÕES EM
        PYTHON</a>
</footer>

{% endblock %}