{% extends 'body.ejs' %}

{% block title %} Cadastro de Alunos {% endblock %}

{% block body %}

<div class="container">
    <header class="border-bottom lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="text-center">
                <h1>Dashboard</h1>
            </div>
        </div>
    </header>
</div>

{% endblock %}