{% extends 'body.ejs' %}
{% include 'header.ejs' %}

{% block title %} Cadastro de Alunos {% endblock %}

{% block body %}

<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="text-center">
            <a href="{{ url_for ('cadastrar')}}"> Cadastrar novo aluno</a>
        </div>
    </div>
</main>

<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <a class="nav-item nav-link link-body-emphasis active">DISCIPLINA: DESENVOLVIMENTO RÁPIDO DE APLICAÇÕES EM
        PYTHON</a>

</footer>


{% endblock %}